* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    perspective: 100%;
}

.container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    transform: preserve-3d;
    min-height: 80vh;
    width: 25rem;
    border-radius: 30px;
    padding: 0rem 5rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.steaker {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.steaker img {
    width: 9.8rem;
    z-index: 2;
    transition: all 0.75s ease-in-out;
}

.circle {
    width: 8rem;
    height: 8rem;
    background: linear-gradient(to right, rgba(245, 70, 66, 0.75), rgba(8, 83, 156, 0.75));
    border-radius: 50%;
    z-index: 1;
    position: absolute;
}

.info {
    text-align: center;
}

.info h1 {
    font-size: 2rem;
    transition: all 0.75s ease-in-out;
}

.info h3 {
    font-size: 1rem;
    padding: 2rem 0rem;
    font-weight: lighter;
    color: #585858;
    transition: all 0.75s ease-in-out;
}

.sizes {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.75s ease-in-out;
}

.sizes button {
    padding: 15px;
    margin: 15px;
    background: none;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background: rgb(247, 245, 245);
    border-radius: 12px;
    cursor: pointer;
    font-weight: bolder;
    color: #585858;
}

button.active {
    background: #585858;
    color: white;
}

.purchase {
    padding: 5px;
    margin-top: 10px;
    transition: all 0.75s ease-in-out;
}

.purchase button {
    width: 100%;
    padding: 0.4rem;
    border-radius: 5px;
    border: 1px solid black;
    background: #f54642;
    color: white;
    border: none;
    font-weight: bolder;
    border-radius: 10px;
}